<!--<?xml version='1.0' encoding='utf-8'?>-->
<!--<!DOCTYPE hibernate-configuration PUBLIC-->
<!--        "-//Hibernate/Hibernate Configuration DTD//EN"-->
<!--        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">-->

<!--<hibernate-configuration>-->
<!--    <session-factory>-->

<!--        <property name="show_sql">true</property>-->
<!--        <property name="connection.pool_size">16</property>-->
<!--        <property name="hibernate.id.new_generator_mappings">true</property> &lt;!&ndash;true - for new JPA apps, more portable across many databases&ndash;&gt;-->
<!--        <property name="hibernate.current_session_context_class">thread</property>-->

<!--        &lt;!&ndash; here all entities will come &ndash;&gt;-->
<!--        <mapping resource="hibernate/user.hbm.xml"/>-->
<!--        <mapping resource="hibernate/message.hbm.xml"/>-->

<!--    </session-factory>-->
<!--</hibernate-configuration>-->
